
.align_share{
    display:flex;
    justify-content: center;

}

.align_share_text{
    flex-direction: column;
    text-align: center;

}

.icon__id-card{
width: 25px;
height: 25px;
}
.twitter-share-button{
    width: 181px;
    height: 30px;
    margin: 14px;
    border: none;
    border-radius: 3px;
    box-shadow: 0 0px 4px 0 rgba($color-black700, 0.32);
    background-color: $color-blueTwitter;
    padding-right: 9px;
    text-decoration: none;

    text-align: center;    
    color: $color-white100;
    font-family: $font-primary;
    font-size: $font-size-S;
    font-weight: $font-weight-thin;

    display:flex;
    justify-content: space-evenly;
    align-items: center;

}

.card-create{
    font-size: $font-size-L;
    font-weight: $font-weight-thick;
    margin: 20px;
}

.card-link{
    text-decoration: none;
    font-size: $font-size-XXS;
    &:link{
        color: $color-orangeIcons;
    }
}

.lds-dual-ring {
    display: inline-block;
    width: 30px;
    height: 30px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 30px;
    height: 30px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid #E95837;
    border-color: #E95837 transparent #E95837 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
    transform: translate(-100%, -50%);
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  